[submodule "My_submodule/Universal_Robots_ROS2_Driver"]
	path = My_submodule/Universal_Robots_ROS2_Driver
	url = https://github.com/Overdamp/Universal_Robots_ROS2_Driver.git
	branch = humble
[submodule "My_submodule/dynamixel_hardware"]
	path = My_submodule/dynamixel_hardware
	url = https://github.com/Overdamp/dynamixel_hardware.git
	branch = humble
[submodule "My_submodule/UR_Description"]
	path = My_submodule/UR_Description
	url = https://github.com/Overdamp/Universal_Robots_ROS2_Description.git
	branch = humble
